

    <% include ./partials/header %>

    <form action="login" method="POST">
        <div class="container" style="width:30%">
            <h1>LOGIN</h1>
            <div class="form-group">
        <input type="text" name="username" placeholder=" username" class="form-control">
        </Br>
        <input type="password" name="password" placeholder="password" class="form-control">
        <br>
        <button> login</button>
    </div>
</div>

    </form>
<% include ./partials/footer %>